In [1]:
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

In [2]:
name =['preg','plas','pres','skin','test','mass','pedi','age','class']
dataframe = read_csv(r"C:\Users\ADMIN\Downloads\pima-indians-diabetes.data.csv",names=name)
dataframe.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [3]:
array=dataframe.values
X=array[:,0:8]
Y=array[:,8]

In [4]:
num_trees =100
seed = 7
k_fold = KFold(n_splits=10,shuffle=True,random_state=seed)
model = RandomForestClassifier(n_estimators=num_trees,max_features=3)
results = cross_val_score(model,X,Y,cv=k_fold)
k_fold

KFold(n_splits=10, random_state=7, shuffle=True)

In [5]:
result = cross_val_score(model,X,Y,cv=k_fold)
print(result.mean())

0.7721120984278879

In [6]:
### import required libraries
from pandas import read_csv
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

In [7]:
name =['preg','plas','pres','skin','test','mass','pedi','age','class']
dataframe = read_csv(r"C:\Users\ADMIN\Downloads\pima-indians-diabetes.data.csv",names=name)
dataframe.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [8]:
array=dataframe.values
X=array[:,0:8]
Y=array[:,8]

In [9]:
## set the parameters
seed = 7
k_fold = KFold(n_splits=10,shuffle=True,random_state=seed)
cart = DecisionTreeClassifier()
num_trees = 100
model = BaggingClassifier(estimator=cart,n_estimators=num_trees,random_state=seed)

In [10]:
results = cross_val_score(model,X,Y,cv=k_fold)
print(results.mean())

0.7578263841421736

In [11]:
## ADA boost classifier
from sklearn.ensemble import AdaBoostClassifier
name =['preg','plas','pres','skin','test','mass','pedi','age','class']
dataframe = read_csv(r"C:\Users\ADMIN\Downloads\pima-indians-diabetes.data.csv",names=name)
print(dataframe.head())
array=dataframe.values
X=array[:,0:8]
Y=array[:,8]

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [12]:
num_trees =10
seed = 7
k_fold = KFold(n_splits=10,shuffle=True,random_state=seed)
model = AdaBoostClassifier(n_estimators=num_trees,random_state=seed)
results = cross_val_score(model,X,Y,cv=k_fold)
print(results.mean())

0.7669685577580314

In [14]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

In [15]:
name =['preg','plas','pres','skin','test','mass','pedi','age','class']
dataframe = read_csv(r"C:\Users\ADMIN\Downloads\pima-indians-diabetes.data.csv",names=name)
dataframe.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [17]:
array=dataframe.values
X=array[:,0:8]
Y=array[:,8]
k_fold = KFold(n_splits=10,shuffle=True,random_state=7)

In [19]:
estimators = []
model1 =LogisticRegression(max_iter=500)
estimators.append(('logistic',model1))
model2 = DecisionTreeClassifier()
estimators.append(('cart',model2))
model3 = SVC()
estimators.append(('svm',model3))

In [21]:
ensemble = VotingClassifier(estimators)
results = cross_val_score(ensemble,X,Y,cv=k_fold)
print(results.mean())

0.7708646616541354